root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80

[*.{md,mdx}]
trim_trailing_whitespace = false
max_line_length = off

[*.{yml,yaml}]
indent_size = 2
indent_style = space

[Makefile]
indent_style = tab
indent_size = 4

[*.{bat,cmd,ps1}]
end_of_line = crlf

[*.{diff,patch}]
trim_trailing_whitespace = false
insert_final_newline = false

[{LICENSE,LICENCE,COPYING}]
insert_final_newline = true
max_line_length = off
