{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,

  "semi": true,
  "singleQuote": true,
  "quoteProps": "consistent",
  "jsxSingleQuote": false,

  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",

  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "strict",
  "vueIndentScriptAndStyle": true,
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": true,

  "endOfLine": "lf",
  "insertPragma": false,
  "requirePragma": false,

  "overrides": [
    {
      "files": ["*.html", "*.htm"],
      "options": {
        "printWidth": 80,
        "singleQuote": false,
        "htmlWhitespaceSensitivity": "strict",
        "bracketSameLine": false,
        "singleAttributePerLine": true
      }
    },
    {
      "files": ["*.json", "*.jsonc", ".prettierrc", ".prettierrc.json"],
      "options": {
        "printWidth": 80,
        "trailingComma": "none",
        "singleQuote": false,
        "tabWidth": 2,
        "singleAttributePerLine": false
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "printWidth": 80,
        "proseWrap": "always",
        "singleQuote": false,
        "tabWidth": 2,
        "singleAttributePerLine": false
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "printWidth": 80,
        "singleQuote": true,
        "trailingComma": "none",
        "tabWidth": 2,
        "singleAttributePerLine": false
      }
    },
    {
      "files": ["*.css", "*.scss", "*.less"],
      "options": {
        "printWidth": 80,
        "singleQuote": false,
        "tabWidth": 2,
        "singleAttributePerLine": false
      }
    },
    {
      "files": ["*.ts", "*.tsx", "*.mts", "*.cts"],
      "options": {
        "printWidth": 80,
        "singleQuote": true,
        "trailingComma": "all",
        "semi": true,
        "singleAttributePerLine": false
      }
    },
    {
      "files": [".prettierignore", ".gitignore", ".editorconfig"],
      "options": {
        "printWidth": 80,
        "tabWidth": 2,
        "singleAttributePerLine": false
      }
    }
  ]
}
