# Dependencies
node_modules/

# TS incremental build cache
assets/js/.tsbuildinfo
*.tsbuildinfo

# Legacy build output
dist/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
